@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .grid-loop-cols-3 {
        @apply grid grid-cols-1 md:grid-cols-3 rounded-md border-b gap-x-6 relative hover:border-gray-300 dark:bg-gray-700 border-gray-200  bg-gradient-to-l hover:from-gray-100 hover:to-gray-50 dark:hover:from-gray-800 dark:hover:to-gray-600 dark:border-gray-500 dark:hover:border-gray-800 mb-2 mt-3 mx-3 px-0 py-3;
    }

    .grid-loop-cols-4 {
        @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 rounded-md border-b gap-x-6 hover:border-gray-300 dark:bg-gray-700 border-gray-200  bg-gradient-to-l hover:from-gray-100 hover:to-gray-50 dark:hover:from-gray-800 dark:hover:to-gray-600 dark:border-gray-500 dark:border-gray-500 dark:hover:border-gray-800 mb-2 mt-3 mx-3 px-0 py-3;
    }

    .grid-loop-cols-5 {
        @apply grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 rounded-md border-b gap-x-6 hover:border-gray-300 dark:bg-gray-700 border-gray-200  bg-gradient-to-l hover:from-gray-100 hover:to-gray-50 dark:hover:from-gray-800 dark:hover:to-gray-600 dark:border-gray-500 dark:border-gray-500 dark:hover:border-gray-800 mb-2 mt-3 mx-3 px-0 py-3;
    }

    .d-hover {
        @apply block mx-1.5 rounded hover:text-white hover:bg-indigo-800 px-4 py-2 dark:hover:bg-gray-600 dark:hover:text-white;
    }

    .d-drop-hover {
        @apply block mx-1.5 rounded px-4 py-2 text-red-500 hover:text-white hover:bg-red-700 dark:hover:bg-gray-600 dark:hover:text-white
    }

    .no-results {
        @apply grid grid-cols-1 shadow-sm rounded-lg bg-indigo-50 dark:bg-gray-700 border-gray-200 dark:border-gray-500 mb-2 mt-3 mx-3 px-5 py-3;
    }

    .no-results div {
        @apply mx-3 h-12 text-center mt-5 dark:text-white;
    }

    .sidebar-button {
        @apply inline-flex items-center w-full p-2 text-white transition duration-75 rounded-lg hover:bg-white hover:text-indigo-600 dark:text-white dark:hover:bg-gray-700;
    }

    .sidebar-children {
        @apply inline-flex items-center w-48 p-2 text-white ms-5 transition duration-75 rounded-lg hover:bg-white hover:text-indigo-600 dark:text-white dark:hover:bg-gray-700;
    }

    .caption {
        @apply px-5 text-lg font-medium text-gray-900 bg-white dark:text-white dark:bg-gray-600;
    }

    .caption p {
        @apply mt-1 text-sm font-normal text-gray-500 dark:text-gray-300;
    }

    .badge-green {
        @apply inline-block bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300;
    }

    .badge-indigo {
        @apply bg-indigo-100 text-indigo-800 text-sm lg:text-xs font-medium px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300;
    }

    .badge-yellow {
        @apply bg-yellow-100 text-yellow-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300;
    }

    .badge-blue {
        @apply bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300;
    }

    .badge-purple {
        @apply bg-purple-100 text-purple-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300;
    }

    .nav-link-btn {
        @apply flex items-center h-10 whitespace-nowrap leading-10 rounded-md px-4 text-xs font-medium text-gray-600 hover:text-indigo-700 hover:shadow-md transition-colors duration-100 mx-1 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-800;
    }

    .nav-link-btn-extra {
        @apply flex items-center h-10 whitespace-nowrap leading-10 rounded-md px-4 text-xs font-semibold text-indigo-600 bg-indigo-100 hover:text-white shadow-md transition-colors duration-100 mx-1 dark:text-indigo-700 dark:hover:text-white hover:bg-indigo-700 dark:hover:bg-gray-800;
    }

    .nav-link-btn.active {
        @apply bg-gray-200 border dark:bg-gray-700 dark:hover:bg-gray-900 dark:border-gray-500 shadow-md;
    }

    .nav-link-mobile {
        @apply block text-xs font-medium hover:bg-indigo-100 hover:text-indigo-600 dark:text-gray-300 dark:hover:text-gray-800 p-3 rounded;
    }
}