@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    hr {
        @apply h-px my-2 mx-28 bg-gray-300 border-0 dark:bg-gray-500;
    }

    h3 {
        @apply leading-tight text-lg font-bold text-gray-900 dark:text-white mb-2;
    }

    h2 {
        @apply text-2xl font-oswald pb-4 text-gray-700 dark:text-white relative capitalize;
    }

    .grid-loop-cols-2 {
        @apply grid grid-cols-1 md:grid-cols-2 rounded-md border-b gap-x-6 relative hover:border-gray-300 dark:bg-gray-700 border-gray-200  bg-gradient-to-l hover:from-gray-50 hover:to-white dark:hover:from-gray-800 dark:hover:to-gray-600 dark:border-gray-500 dark:hover:border-gray-800 mb-2 mt-3 mx-3 px-0 py-3;
    }

    .grid-loop-cols-3 {
        @apply grid grid-cols-1 md:grid-cols-3 rounded-md border-b gap-x-6 relative hover:border-gray-300 dark:bg-gray-700 border-gray-200  bg-gradient-to-l hover:from-gray-50 hover:to-white dark:hover:from-gray-800 dark:hover:to-gray-600 dark:border-gray-500 dark:hover:border-gray-800 mb-2 mt-3 mx-3 px-0 py-3;
    }

    .grid-loop-cols-4 {
        @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 items-center rounded-md border-b gap-x-6 hover:border-gray-300 dark:bg-gray-700 border-gray-200  bg-gradient-to-l hover:from-gray-50 hover:to-white dark:hover:from-gray-800 dark:hover:to-gray-700 dark:border-gray-500 dark:hover:border-gray-800 mb-2 mt-3 mx-3 px-0 py-3;
    }

    .grid-loop-cols-5 {
        @apply grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 rounded-md border-b gap-x-6 hover:border-gray-300 dark:bg-gray-700 border-gray-200  bg-gradient-to-l hover:from-gray-50 hover:to-white dark:hover:from-gray-800 dark:hover:to-gray-600 dark:border-gray-500 dark:hover:border-gray-800 mb-2 mt-3 mx-3 px-0 py-3;
    }

    .d-hover {
        @apply block mx-1.5 rounded hover:text-white hover:bg-indigo-800 hover:bg-opacity-75 px-4 py-2 dark:hover:bg-gray-600 dark:hover:text-white;
    }

    .d-drop-hover {
        @apply block mx-1.5 rounded px-4 py-2 text-red-500 hover:text-white hover:bg-red-700 hover:bg-opacity-75 dark:hover:bg-gray-600 dark:hover:text-white
    }

    .no-results {
        @apply grid grid-cols-1 shadow-sm rounded-lg bg-white dark:bg-gray-700 border-gray-200 dark:border-gray-500 mb-2 mt-3 mx-3 px-5 py-3;
    }

    .no-results div {
        @apply mx-3 h-12 text-center mt-5 dark:text-white;
    }

    .sidebar-button {
        @apply inline-flex items-center w-full p-2 text-white transition duration-75 rounded-lg hover:bg-white hover:text-indigo-600 dark:text-white dark:hover:bg-gray-700;
    }

    .sidebar-children {
        @apply inline-flex items-center w-48 p-2 text-white ms-5 transition duration-75 rounded-lg hover:bg-white hover:text-indigo-600 dark:text-white dark:hover:bg-gray-700;
    }

    .caption {
        @apply mx-3.5 text-lg font-medium text-gray-900 bg-white dark:text-white dark:bg-gray-600;
    }

    .caption p {
        @apply mt-1 mb-2 text-sm font-normal text-gray-500 dark:text-gray-300;
    }

    .badge-green {
        @apply inline-block bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300;
    }

    .badge-indigo {
        @apply bg-indigo-100 text-indigo-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300;
    }

    .badge-yellow {
        @apply bg-yellow-100 text-yellow-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300;
    }

    .badge-yellow-border {
        @apply bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300;
    }

    .badge-blue {
        @apply bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300;
    }

    .badge-purple {
        @apply bg-purple-100 text-purple-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300;
    }

    .badge-green-border {
        @apply bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400;
    }

    .nav-link-btn {
        @apply flex items-center h-10 whitespace-nowrap leading-10 rounded-md px-4 text-xs font-medium text-gray-600 hover:text-indigo-700 hover:shadow-md transition-colors duration-100 mx-1 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-800;
    }

    .nav-link-btn-extra {
        @apply flex items-center h-10 whitespace-nowrap leading-10 rounded-md px-4 text-xs font-semibold text-indigo-600 bg-indigo-100 hover:text-white shadow-md transition-colors duration-100 mx-1 dark:text-indigo-700 dark:hover:text-white hover:bg-indigo-700 dark:hover:bg-gray-800;
    }

    .nav-link-btn.active {
        @apply bg-gray-200 border dark:bg-gray-700 dark:hover:bg-gray-900 dark:border-gray-500 shadow-md;
    }

    .nav-link-mobile {
        @apply block text-xs font-medium hover:bg-indigo-100 hover:text-indigo-600 dark:text-gray-300 dark:hover:text-gray-800 p-3 rounded;
    }

    .nav-link-mobile-extra {
        @apply block text-xs font-medium bg-indigo-100 hover:bg-indigo-600 hover:text-indigo-50 dark:text-gray-300 dark:hover:text-gray-800 p-3 rounded
    }

    .check-all {
        @apply inline-block border rounded px-2.5 hover:bg-indigo-200 transition-shadow duration-300 ease-in dark:border-gray-700 dark:hover:bg-gray-800;
    }

    .checkbox-indigo {
        @apply w-3 sm:w-4 h-3 sm:h-4 text-indigo-600 bg-gray-100 border-gray-300 rounded focus:ring-indigo-500 dark:focus:ring-indigo-600 dark:ring-offset-gray-800 focus:ring-1 dark:bg-gray-700 dark:border-gray-600;
    }

    .pictures {
        @apply relative bg-cover bg-no-repeat;
    }

    .tab-list {
        @apply flex flex-row flex-wrap text-sm font-medium space-x-4 text-center justify-stretch border-b-0 items-stretch;
    }

    .tab-list-inactive {
        @apply dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300;
    }

    .tab-list-active {
        @apply text-gray-950 hover:text-red-600 dark:text-white dark:hover:text-white border-red-600 dark:border-red-500;
    }

    .tab-list-item {
        @apply inline-block p-4 border-b-2 hover:text-gray-600 hover:border-red-600 dark:hover:text-gray-300;
    }

    .tab-list-item-indigo {
        @apply inline-flex items-center px-4 py-3 rounded-lg w-full;
    }

    .tab-list-active-indigo {
        @apply text-white bg-indigo-700 active dark:bg-indigo-600;
    }

    .tab-list-inactive-indigo {
        @apply hover:text-gray-900 bg-gray-50 hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-600 dark:hover:text-white;
    }

    .input-widget {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-gray-400 focus:ring-0 focus:border-gray-400 block w-full p-1.5 md:p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500;
    }

    .form-label {
        @apply block mb-1 text-sm font-medium text-gray-900 dark:text-gray-100;
    }

    .input-wrong {
        @apply mt-0.5 block text-xs text-red-500;
    }

    .btn-red {
        @apply inline-flex rounded-md bg-red-600 px-6 py-2.5 text-xs font-medium uppercase text-white shadow-md hover:bg-red-700 focus:outline-none dark:shadow-black/30 dark:hover:shadow-gray-950 dark:focus:shadow-gray-950;
    }

    .btn-black {
        @apply bg-gray-800 hover:bg-gray-700 text-white dark:hover:bg-gray-900 uppercase text-xs shadow-md dark:hover:shadow-gray-950 px-6 py-2.5 outline-none rounded w-max cursor-pointer mx-auto font-medium;
    }

    .btn-gray-strong {
        @apply inline-flex rounded-md bg-gray-500 hover:bg-gray-700 px-6 py-2.5 text-xs font-medium uppercase text-white shadow-md focus:outline-none dark:shadow-black/30 dark:hover:shadow-gray-950 dark:focus:shadow-gray-950 dark:active:shadow-gray-950
    }

    .btn-indigo {
        @apply px-4 py-2.5 text-xs font-medium border shadow-md hover:shadow-lg border-indigo-600 rounded-md bg-indigo-500 hover:bg-indigo-700 text-white;
    }

    .box {
        @apply relative flex flex-col bg-white dark:bg-gray-600 rounded-md border dark:border-gray-700;
    }

    .box-header {
        @apply flex justify-between border-b bg-gray-100 dark:bg-gray-700 dark:border-gray-700 dark:text-white;
    }

    .list-item {
        @apply p-1.5 mt-0 border-dashed border-b border-gray-200 opacity-75 z-10 transition-opacity duration-300 hover:opacity-100 text-gray-800 dark:text-white dark:border-gray-500 last:border-0 odd:bg-indigo-50 even:bg-slate-50 dark:odd:bg-gray-700 dark:even:bg-slate-700;
    }

    .list-grid-item {
        @apply p-2.5 relative rounded-md bg-white border transition-shadow duration-300 ease-in hover:bg-opacity-25 hover:shadow hover:bg-indigo-50 dark:bg-gray-800 dark:hover:bg-gray-950 dark:border-gray-700;
    }

    .form-box {
        @apply p-5 md:p-8 shadow-md border bg-white rounded-md dark:bg-gray-800 dark:border-gray-900;
    }

    .coupon-code-block {
        @apply inline-block w-36 h-12 shadow-md bg-gray-50 border border-gray-300 p-3 text-center rounded-md mx-2 dark:bg-gray-600 dark:text-white;
    }

    .counter-helper {
        @apply text-xs md:text-[0.85rem] text-gray-400 dark:text-white mt-0.5 text-end space-x-1;
    }

    .counter-helper span:first-of-type {
        @apply me-1;
    }

    .alert-danger {
        @apply flex items-center p-4 my-4 text-red-800 rounded-md bg-red-50 dark:bg-red-100 dark:text-red-400;
    }

    /*
        Front part
     */
    .badge-red {
        @apply bg-red-700 bg-opacity-75 text-white text-xs md:text-sm me-2 px-2.5 py-1 rounded-md dark:bg-red-900 dark:text-white;
    }

    .info-table {
        @apply w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400;
    }

    .info-table tr {
        @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-900;
    }

    .info-table th {
        @apply py-3 px-5 font-normal whitespace-nowrap min-w-10 max-w-28  cursor-default;
    }

    .info-table td {
        @apply p-3 text-gray-600 whitespace-nowrap dark:text-gray-200 cursor-default;
    }

    .tab-list-info {
        @apply mt-5 md:flex list-none md:flex-row md:flex-wrap border-b-0 ps-0;
    }

    .tab-list-info-active {
        @apply bg-gray-100 dark:bg-gray-800 hover:text-blue-700 border-blue-600;
    }

    .tab-list-info-inactive {
        @apply text-gray-500 hover:text-blue-600 border-b border-gray-100 hover:border-gray-500 dark:border-gray-700 dark:hover:border-gray-500;
    }

    .tab-list-info a {
        @apply my-2 block border-x-0 border-b-2 border-t-0 px-7 pb-3.5 pt-4 text-sm font-light uppercase leading-tight text-neutral-500 hover:isolate hover:border-blue-600 hover:bg-neutral-100 focus:isolate focus:border-blue-600 dark:text-white/50 dark:hover:bg-neutral-700/60;
    }

    .tab-content-info {
        @apply transition-opacity duration-150 ease-linear p-4 rounded-b-lg bg-gray-50 bg-opacity-10 dark:bg-gray-800;
    }

    .header-nav-item {
        @apply block uppercase py-2 px-4 border-t-2 border-white text-xs font-medium hover:text-red-600 focus:outline-0 dark:text-white hover:border-red-700 transition-all delay-100 duration-150 ease-in-out;
    }

    .header-nav-item.active {
        @apply text-gray-900 lg:border-red-700 lg:dark:border-red-600 hover:border-red-400 dark:text-white;
    }

    .text-link {
        @apply text-red-500 hover:text-red-700 underline;
    }

    .cabinet-sidebar-item {
        @apply flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-white border border-gray-100 dark:border-gray-800 dark:hover:bg-gray-700 dark:hover:border-gray-600;
    }

    .cabinet-container {
        @apply flex justify-start items-start gap-y-4;
    }
}