{% extends 'base.html.twig' %}

{% block title %}{{ 'text.about_us.header'|trans }}{% endblock %}

{% block body %}
    <h2>{{ 'title.about_us'|trans }}</h2>
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-x-10">
        <div class="pr-0 md:pr-3">
            <p class="text-slate-500 md:text-base leading-relaxed mb-5 dark:text-white">{{ 'text.about_us.long_desc'|trans|raw }}</p>
        </div>
        <div class="pl-0 md:pl-3">
            <img loading="lazy" class="w-full object-cover h-72 rounded-md shadow-md"
                 src="{{ asset('img/about-section.jpg') }}" alt="...">
        </div>
    </div>
{% endblock %}
